@import "_reset.scss";

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;


body {
  font-family: Georgia;
  // font-family: Helvetica;
  font-size: 24px;
  color: $base03;
  background: $base3;
  line-height: 1.5em;
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}
a {
  color: $cyan;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid $cyan;
}
p {
  margin: 0.4em 0;
}
img {
  display: block;
  width: 100%;
}
.clear {
  visibility: hidden;
  clear: both;
}
.wrapper{
  overflow-x: hidden;
  // max-width: 320px;
  margin-bottom: 5em;
}
h1 {
  color: $base3;
  background: $cyan;
  font-size: 1.5em;
  margin: 0 0 1em 0;
  padding: 1em 0;
  text-align: center;
  // text-transform: uppercase;
}
.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  // background: $white;
  border: 1px solid black;
  border-radius: 0.5em;
  color: black;
  padding: 1em 1.5em;
  margin: 0.3em 0;
  text-decoration: none;
  box-shadow: 0px 1px 0px 0px black;

  &:hover, &:focus{
    color: $base3;
    background:$orange;
  }
}
.alt-button {
  @extend .button;
  font-weight: 800;
  // color: $white;
  background: $cyan;
  &:hover, &:focus {background: gray;}
}
.text-button {
  display: inline-block;
  font-weight: 400;
  font-style: italic;
}

.pdf-downloads{
  position: relative;
  margin: 0.5em auto;
  padding: 1em 5%;
  width: 100%;
  max-width: 720px;
}
.menu-list {
  text-align: center;
  width: 49%;
  float:left;
  list-style: none;
  li {
    .download {font-size: 80%;}
    line-height: 1.1em;
    margin: 0.6em 0;
    // display: inline-block;
  }
}

.dropzone {
  // color: white;
  // background: $blue;
  display: inline-block;
  // border: 5px dashed $gray;
  // border-radius: 0.8em;
  // box-shadow: 2px 2px 0 0 #555;
  padding: 1em;
  margin: 1em 0.5em;
  &:hover {
    cursor: pointer; //Hand cusor when hovering
  }
}
.dz-message { 
  text-align: center;
}
.location {
  font-weight: 800;
}


@import "_ediblePanel.scss";
