.ediblePanel
  //- div.logo Admin
  //- div.title Hi, Jason! 
  ul.tool-bar
    li(class="show-edible").button Make edits
    li(class="show-edible hidden").button Exit edit mode.
    //- li.button Show Guides
  //- .button
  .perspective
    div ↓ What Customers See ↓
  
  