.ediblePanel
  //- div.logo Admin
  //- div.title Hi, Jason! 
  ul.tool-bar
    li(class="show-edible").button show edible
    li(class="").button links disabled
    //- li.button Show Guides
  //- .button
  .perspective
    div ↓ What Customers See ↓
  
  