.ediblePanel
  //- div.logo Admin
  div.title Hi, Jason! 
  ul.tool-bar
    li(class="show-edible").button Make Edits
    li(class="show-edible hidden").button Exit Edit Mode.
    //- li.button Show Guides
  //- .button
  .perspective
    div ↑ Admin Tool Bar ↑
    div ↓ What Customers See ↓
  
  