.ediblePanel
  //- div.title edit mode
  ul.tool-bar
    li(class="show-edible").button Click me.
    li(class="show-edible hidden").button Exit Edit Mode.
    //- li.button Show Guides
  //- .button 
  