extends layout

block content
  h1 Hospitality PDF Pro 2014 Enterprise Edition ©
  form(action='/', method="POST", enctype="multipart/form-data")
    input(type="file", name="menu")
    input(type="submit")