include _dropzone

extends layout

block content
  h1.data-title(contenteditable="true")= title
  
  p [GIF demonstration of process]

  //- h2 Gaslamp Quarter
  +makeDropzone("Gaslamp", "Brunch")
  //- +makeDropzone("Gaslamp", "Dinner")
  //- +makeDropzone("Gaslamp", "Happy Hour")
  //- +makeDropzone("Gaslamp", "Special")
  //- +makeDropzone("Adams", "Brunch")
  //- +makeDropzone("Adams", "Dinner")
  //- +makeDropzone("Adams", "Happy Hour")
  //- +makeDropzone("Adams", "Special")
  //- make

  //- h2 University Heights
  

block script
  // script(type="text/javascript").
    //- var dropzone = new Dropzone("#gaslampBreakfast");
  script(type="text/javascript").
    var socket = io.connect('/');
    socket.on('success', function (data) {
      console.log(data);
      })

    $(".data-title").click(function () {
        console.log("clicked");
      });
    $(".data-title").blur(function() {
        var newData = $(".data-title").text();
        console.log("edited " + newData);
        socket.emit('edit', {'title': newData});

      });
 