html
  head
    block title
      title Hospitality PDF Pro 2014 Enterprise Edition ©
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="/css/main.css")
  body
    .wrapper
      block content

  script(type="text/javascript" src="/js/dropzone-3.8.4.js")
  block script
  script(type="text/javascript").
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')