/*------------------------------------*\
    $RESET
\*------------------------------------*/
/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

body {
  position: relative;
  font-family: Helvetica;
  font-size: 24px;
  color: #002b36;
  background: #fdf6e3;
  line-height: 1.5em; }
  @media screen and (max-width: 480px) {
    body {
      font-size: 16px; } }

a {
  color: #2aa198;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #2aa198; }

p {
  margin: 0.4em 0; }

img {
  display: block;
  width: 100%; }

.clear {
  visibility: hidden;
  clear: both; }

.wrapper {
  overflow-x: hidden;
  margin-bottom: 5em; }

h1 {
  color: #fdf6e3;
  background: #2aa198;
  font-size: 1.5em;
  margin: 0 0 1em 0;
  padding: 1em 0;
  text-align: center; }

.button, .alt-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  border: 1px solid black;
  border-radius: 0.5em;
  color: black;
  padding: 1em 1.5em;
  margin: 0.3em 0;
  text-decoration: none;
  box-shadow: 0px 1px 0px 0px black; }
  .button:hover, .button:focus {
    color: #fdf6e3;
    background: #cb4b16; }

.alt-button {
  font-weight: 800;
  background: #2aa198; }
  .alt-button:hover, .alt-button:focus {
    background: gray; }

.text-button {
  display: inline-block;
  font-weight: 400;
  font-style: italic; }

.pdf-downloads {
  position: relative;
  margin: 0.5em auto;
  padding: 1em 5%;
  width: 100%;
  max-width: 720px; }

.menu-list {
  text-align: center;
  width: 49%;
  float: left;
  list-style: none; }
  .menu-list li {
    line-height: 1.1em;
    margin: 0.6em 0; }
    .menu-list li .download {
      font-size: 80%; }

.dropzone {
  display: inline-block;
  border: 5px dashed gray;
  padding: 1em;
  margin: 1em 0.5em; }
  .dropzone:hover {
    cursor: pointer; }

.dz-message {
  text-align: center; }

.location {
  font-weight: 800; }

.ediblePanel {
  font-size: 80%;
  font-family: monospace, helvetica;
  color: #fdf6e3;
  background: #073642;
  border-bottom: 5px solid #fdf6e3;
  padding: 1em;
  margin: 0 0 0em 0;
  position: relative; }
  .ediblePanel .button, .ediblePanel .alt-button {
    font-weight: 800;
    color: #fdf6e3;
    background: #268bd2;
    box-shadow: 0px 4px 0 0 black; }
    .ediblePanel .button:hover {
      background: #cb4b16;
      cursor: pointer; }
  .ediblePanel .title {
    color: #657b83;
    position: absolute;
    top: 1.6em;
    right: 1em; }
  .ediblePanel .tool-bar {
    text-align: center; }
    .ediblePanel .tool-bar li {
      padding: 0.3em 0.8em;
      margin: 0.3em 0.5em; }

.perspective {
  color: #657b83;
  margin: 0.5em 0 0 0;
  text-align: center; }

[data-edible] {
  display: inline-block;
  min-height: 1em;
  min-width: 0.5em; }

.show-yourself {
  outline: 4px dashed #268bd2; }
  .show-yourself:hover {
    cursor: pointer; }

.hidden {
  display: none !important; }

[data-dropzone] {
  border: 3px dashed #268bd2;
  box-shadow: none; }

/* The MIT License */
.dropzone, .dropzone *, .dropzone-previews, .dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dropzone {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.02);
  padding: 1em; }

.dropzone.dz-clickable {
  cursor: pointer; }

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message span {
  cursor: pointer; }

.dropzone.dz-clickable * {
  cursor: default; }

.dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none; }

.dropzone.dz-drag-hover {
  border-color: rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.04); }

.dropzone.dz-started .dz-message {
  display: none; }

.dropzone .dz-preview, .dropzone-previews .dz-preview {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px; }

.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail], .dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none; }

.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px; }

.dropzone .dz-preview .dz-details .dz-filename, .dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%; }

.dropzone .dz-preview .dz-details img, .dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px; }

.dropzone .dz-preview .dz-details .dz-size, .dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px; }

.dropzone .dz-preview.dz-error .dz-error-mark, .dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark, .dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block; }

.dropzone .dz-preview:hover .dz-details img, .dropzone-previews .dz-preview:hover .dz-details img {
  display: none; }

.dropzone .dz-preview .dz-success-mark, .dropzone-previews .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark, .dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px; }

.dropzone .dz-preview .dz-success-mark, .dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657; }

.dropzone .dz-preview .dz-error-mark, .dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d; }

.dropzone .dz-preview .dz-progress, .dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none; }

.dropzone .dz-preview .dz-progress .dz-upload, .dropzone-previews .dz-preview .dz-progress .dz-upload {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657; }

.dropzone .dz-preview.dz-processing .dz-progress, .dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block; }

.dropzone .dz-preview .dz-error-message, .dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245, 245, 245, 0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500; }

.dropzone .dz-preview:hover.dz-error .dz-error-message, .dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block; }

.tooltip, .arrow:after {
  background: black;
  border: 2px solid white; }

.tooltip {
  pointer-events: none;
  opacity: 0;
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  font-stretch: condensed;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 7px black; }

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px; }

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
  -moz-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
  box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); }

.tooltip.active {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease; }

.tooltip.out {
  opacity: 0;
  margin-top: -20px; }
